*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    line-height: 1.5;
    font-family: PlusJakartaDisplayMedium, Arial, sans-serif;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "PlusJakartaDisplayBold";
    src: url("./assets/PlusJakartaDisplay-Bold.otf"), format("opentype");
}

@font-face {
    font-family: "PlusJakartaDisplayMedium";
    src: url("./assets/PlusJakartaDisplay-Medium.otf"), format("opentype");
}

.font-bold {
    font-family: PlusJakartaDisplayBold, Arial, sans-serif;
    font-weight: bolder;
}

.font-medium {
    font-family: PlusJakartaDisplayMedium, Arial, sans-serif;

}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 119px;
    background-color: #FFF7F0;
}

.consultation-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.logo {
    width: 64px;
    height: 64px;
}

.black-consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 228px;
    height: 56px;
    background-color: black;
    color: white;
    border-radius: 25px;
}

.black-consultation:hover {
    background-color: #755CDE;
    cursor: pointer;
}

.page-header {
    width: 752px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 66px 0;
}

.page-header h1 {
    font-size: 56px;
}

.text-content {
    width: 730px;
    opacity: 0.7;
    font-size: 18px;
    padding: 0 69px;
}

.box-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "aa bb cc dd"
        "aa ee ee ff"
    ;
    grid-template-columns: 354px 164px 164px 354px;
    grid-template-rows: 182px;
    gap: 25px;
    justify-content: center;
}

.square-box {
    grid-area: aa;
    width: 354px;
    height: 364px;
    background-color: #755CDE;
    border-radius: 12px;
    font-size: 24px;
    color: white;
}

.rectangle-box {
    width: 164px;
    height: 182px;
    border-radius: 12px;
    font-size: 24px;
    color: white;
}

.lying-rectangle-box {
    width: 354px;
    height: 158px;
    border-radius: 12px;
    font-size: 24px;
    color: white;
}

.lying-rectangle-box .box p {
    margin-top: 25%;
}

#photography .box p {
    margin-top: 32%;
}

#ui-ux {
    grid-area: bb;
    background-color: #F6A560;
}

#apps {
    grid-area: cc;
    background-color: #F39E9E;
}

#photography {

    height: 182px;
    grid-area: dd;
    background-color: #61C4B7;
}


#illustrations {
    grid-area: ee;
    background-color: #EB7565;
}

#motion-graphics {
    grid-area: ff;
    background-color: #552049;
}

.box {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
}

.box p {
    margin-top: 90%;
    bottom: 0;
}

.icon-doc {
    width: 128px;
    height: 192px;
}

.icon-64 {
    width: 64px;
    height: 64px;
}

.icon-128 {
    width: 128px;
    height: 64px;
}

.page-content {
    width: 100%;
    margin: 66px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-img {
    left: 0;
    width: 445px;
    height: 445px;
}

.page-content-text {
    width: 540px;
    height: 306px;

}

.page-content-text h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.page-content-text p {
    font-size: 18px;
    opacity: 0.7;
}

.red-consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 56px;
    border-radius: 24px;
    background-color: #EB7565;
    color: #FFF7F0;
    margin-top: 30px;
}

.red-consultation:hover {
    background-color: #F6A560;
    cursor: pointer;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.slide-image {
    width: 100% !important;
    position: relative;
    display: flex;
    flex-direction: row;
}

.slide-image div img {
    border-radius: 18px;
    cursor: grab;
}


.slide-image div {
    margin: 0 20px 0;
}

.arrow-btn {
    display: flex;
    flex-direction: row;
    margin: 20px
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    width: 64px;
    height: 64px;
    margin: 10px
}

.circle:hover {
    background-color: #755CDE;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: black;
    color: #FFF7F0;
    width: 100%;
    height: 320px;
    margin: 50px 0 60px;
    border-radius: 20px;
}

.call {
    width: 540px;
    height: 159px;
    font-size: 18px;
    text-align: left;

}

.call h2 {
    font-size: 40px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
    #main {
        padding: 30px 40px;
    }

    .box-container {
        display: grid;
        grid-template-areas:
            "aa bb cc "
            "aa ee ee "
            "dd ff ff"
        ;
        grid-template-columns: 354px 164px 164px 354px;
        grid-template-rows: 182px;
        gap: 25px
    }

    #motion-graphics {
        height: 182px;
    }

    .page-content {
        width: 100vw;
        transform: translateX(-34px);
    }

    .main-img {
        width: 364px;
        height: 364px;
    }

    .page-content-text {
        width: 339px;
        height: 364px;
    }

    .page-content-text h2 {
        line-height: 40px;
    }

    .slider {
        width: 100vw;
    }

    .slide-image {
        width: 100vw;
    }

    .slick-list {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .contact {
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    #main {
        padding: 20px 10px;
    }

    .page-header {
        margin-top: 100px;
        margin-bottom: 80px;
        width: 100%;
        line-height: 50px;
        line-break: loose;
    }

    .page-header h1 {
        font-size: 43px;
    }

    .text-content {
        width: 100%;
        padding: 20px;
    }

    .text-content p {
        line-height: 30px;
        font-size: 20px;
    }

    .box-container {
        display: grid;
        grid-template-areas:
            "aa aa"
            "aa aa"
            "bb cc"
            "ee ee"
            "ff ff"
        ;
        grid-template-columns: 180px 167px;
        grid-template-rows: 182px;
        height: 1000px;
    }

    .square-box {
        width: 100%;
    }

    .lying-rectangle-box {
        width: 100%;
    }

    .box {
        justify-content: space-between;
    }

    .box img {
        position: relative;
        right: 0;
    }

    #motion-graphics {
        height: 182px;
    }

    .page-content {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .main-img {
        width: 300px;
        height: 300px;
        margin-bottom: 60px;
    }

    .page-content-text {
        text-align: center;
        width: 100%;
        height: 364px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .page-content-text h2 {
        line-height: 40px;
        font-size: 30px;
    }

    .page-content-text p {
        font-size: 17px;
    }

    .slider {
        width: 100vw;
    }

    .slide-image {
        width: 500px !important;
        transform: translateX(-18px);
    }

    .slide-image div img {
        width: 270px;
        height: 180px;
        margin: 0;
    }

    .slick-list {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    .contact {
        flex-direction: column;
        padding: 40px;
        height: 352px;
    }

    .call {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .call h2 {
        font-size: 32px;
    }

    .call p {
        margin-bottom: 30px;
    }
}